.container {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .container {
    margin-top: 100px;
  }
}

.container__howOrder {
  margin-bottom: 50px;
  max-width: 100%;
}

.howOrder__text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
}
@media screen and (max-width: 376px) {
  .howOrder__text {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 15% 15%;
  }
}

.howOrder__h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: -4%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .howOrder__h2 {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 104%;
    letter-spacing: -4%;
  }
}
@media screen and (max-width: 376px) {
  .howOrder__h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 104%;
    letter-spacing: -4%;
  }
}

.text__ourbasket {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -4%;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .text__ourbasket {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 133%;
    letter-spacing: -4%;
  }
}

.text__ourbasket_partLeft {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media screen and (max-width: 376px) {
  .text__ourbasket_partLeft {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}

.text__ourbasket_partRight {
  grid-column: 2/3;
  grid-row: 2/3;
}
@media screen and (max-width: 376px) {
  .text__ourbasket_partRight {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}

.container__photo {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .container__photo {
    align-items: center;
  }
}
@media screen and (max-width: 376px) {
  .container__photo {
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: 370px;
  }
}

.threeSteps {
  display: grid;
  grid-template-columns: 7fr 1fr 1fr 8fr;
  grid-template-rows: repeat(5, 1fr);
  background-color: rgb(250, 243, 231);
  border: 1px solid #ffffff;
  border-radius: 80px;
  max-width: 100%;
  height: auto;
  background: url(../img/bgs.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
@media screen and (max-width: 376px) {
  .threeSteps {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
}

header {
  padding: 0 33px;
  display: flex;
  justify-content: space-between;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -4%;
}
header .header__menu {
  width: 241px;
}
header .header__menu .menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
header .logo-block {
  display: flex;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -4%;
}
header .logo-block .logo-block__logo {
  margin-right: 8px;
}
header .header__basket {
  display: flex;
  align-items: center;
}
header .header__basket .img {
  width: 100%;
}

.text_cards1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.text_cards2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.wrapper {
  font-family: var(--font-family);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.cards {
  background-color: rgb(234, 247, 229);
  height: 400px;
  width: 324px;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 0px;
}

.cards-title {
  margin-top: 20px;
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 550;
}

.cards_img {
  height: 261px;
  width: 321px;
}

.cards_sub1 {
  font-size: 20px;
  font-weight: 300;
}

.cards_sub2 {
  font-size: 20px;
  font-weight: 300;
}

.round {
  width: 115px;
  height: 115px;
  background-color: rgb(252, 138, 17);
  border-radius: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}

.delivery__shipping {
  display: grid;
  grid-template-columns: 2fr;
}

.shipping {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 4fr 1fr;
  background-color: rgb(250, 243, 231);
  border: 1px solid #ffffff;
  border-radius: 80px;
  width: 100%;
  height: auto;
  background: url(../img/bgs.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.shipping_img {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: auto;
  padding: 80px;
  -o-object-fit: inherit;
     object-fit: inherit;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .shipping_img {
    align-items: center;
    grid-column-start: span all;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;
  }
}

.shipping__text {
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .shipping__text {
    align-items: center;
    grid-column-start: span all;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;
  }
}

.shipping__text h2 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .shipping__text h2 {
    align-items: center;
    grid-column-start: span all;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;
  }
}

.your-products {
  color: rgb(161, 196, 135);
  font-style: italic;
}

.best {
  color: rgb(252, 138, 17);
  font-style: italic;
}

.your-products:hover {
  color: rgb(252, 138, 17);
}

.best:hover {
  color: rgb(161, 196, 135);
}

.fresh {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 6fr;
  grid-row-gap: 40px;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  gap: 40px;
}

.fresh__photo {
  grid-column: 4/7;
  grid-row: 1/2;
  display: flex;
  align-items: flex-end;
  background-color: rgb(161, 196, 135);
  border: 1px solid #fffefe;
  border-radius: 80px;
  width: 100%;
  height: auto;
  background: url(../img/bgw.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .fresh__photo {
    align-items: center;
    grid-column-start: span all;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;
  }
}

.fresh__text {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}

.fresh__h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.04167;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--black);
}

.text__freshbox {
  font-family: "DM Sans", sans-serif;
  grid-column: 1/2;
  grid-row: 1/2;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33333;
  letter-spacing: -0.04em;
  color: var(--black);
  align-items: flex-start;
  flex-direction: column;
}

.fresh__register {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 40px;
  padding-top: 40px;
}

.email-container {
  display: flex;
  align-items: center;
  border: 1px solid #e2d5d5;
  border-radius: 80px;
  width: 400px;
  height: 48px;
}

.fresh__email {
  font-family: "DM Sans", sans-serif;
  margin-left: 40px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--black);
  flex-grow: 1;
}

.fresh__button {
  background-color: rgb(252, 138, 17);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 100px;
  padding: 15px 35px;
  width: 105px;
  height: 48px;
  border-color: transparent;
}

.fresh__button:hover {
  background-color: rgb(161, 196, 135);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .delivery__shipping {
    grid-template-columns: 1fr;
  }
  .shipping {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
  .shipping_img {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 20px;
  }
  .shipping__text {
    grid-column: 1/2;
  }
  .shipping__text h2 {
    font-size: 24px;
    padding: 40px;
  }
  .fresh {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .fresh__register {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 40px;
  }
  .fresh__photo {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .fresh__text {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0 20px;
  }
  .fresh__h2 {
    font-size: 32px;
  }
  .text__freshbox {
    font-size: 14px;
  }
  .email-container {
    width: 100%;
    max-width: 300px;
  }
  .fresh__email {
    margin-left: 20px;
  }
  .fresh__button {
    padding: 10px 20px;
    width: 85px;
    height: 40px;
  }
}
.container__green-box {
  display: flex;
  height: 730px;
  background-color: #A1C487;
}

.wrapper__green-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 33px;
}

.box__text {
  width: 70%;
}

.box__image {
  padding-top: 180px;
  width: 40%;
  align-items: center;
  justify-content: center;
}

.image__green-girl {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.box__text-green {
  height: 150px;
  flex-direction: row;
  align-items: center;
}

.organic__text {
  font-family: "DM Sans", sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 75px;
  text-align: left;
  letter-spacing: -4%;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-top: 16px;
  margin-bottom: 0;
}

.word__vegetables {
  color: rgb(234, 247, 229);
  font-style: italic;
  letter-spacing: 1%;
}

.organic__little-text {
  color: rgb(255, 255, 255);
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -4%;
  text-align: left;
  width: 70%;
  padding-top: 16px;
}

.btn__green-box {
  margin-top: 32px;
  background: transparent;
  border-color: transparent;
}

.button__shop-now {
  transition: all 1s ease;
}

.button__shop-now:hover {
  transform: rotate(15deg);
}

.container__fotocard {
  display: flex;
  margin-top: 134px;
  height: 70px;
}

.element__two {
  position: relative;
  left: -25px;
}

.element__one:hover {
  z-index: 15;
  top: -25px;
}

.element__two:hover {
  z-index: 10;
  top: -25px;
}

.element__three {
  position: relative;
  left: -50px;
}

.element__three:hover {
  z-index: 20;
  top: -25px;
}

.element__four {
  position: relative;
  left: -130px;
  top: -47px;
}

.element__four:hover {
  z-index: 15;
  top: -72px;
}

.wrapper__btn-shop {
  padding-top: 70px;
  padding-left: 145px;
}

.wrapper__btn-shop-1 {
  padding-left: 140px;
}

.button__shop {
  box-sizing: border-box;
  border: 1px solid rgb(249, 247, 244);
  border-radius: 1000px;
  padding: 12px 32px 12px 32px;
  left: 50%;
  text-align: end;
  background: transparent;
  margin-bottom: 8px;
  margin-left: 8px;
}

.button__shop:hover {
  background-color: rgb(249, 247, 244);
}

.button__shop-1 {
  box-sizing: border-box;
  border: 1px solid rgb(249, 247, 244);
  border-radius: 1000px;
  padding: 12px 32px 12px 32px;
  left: 50%;
  text-align: end;
  background: transparent;
  margin-left: 8px;
}

.button__shop-1:hover {
  background-color: rgb(249, 247, 244);
}

#text__on-button {
  color: rgb(249, 247, 244);
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -4%;
  text-align: center;
  text-transform: uppercase;
}

#text__on-button:hover {
  color: #141414;
}

footer {
  background-color: rgb(234, 247, 229);
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 720px) {
  footer {
    flex-direction: column;
  }
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(20, 20, 20);
}

.footer__image img {
  border-radius: 100px;
  padding-bottom: 10px;
}

.footer__socials img {
  width: 44px;
  padding-right: 10px;
  padding-bottom: 40px;
}
@media (max-width: 720px) {
  .footer__socials img {
    width: 40px;
  }
}

.footer__socials img:last-child {
  padding-right: 0;
}

.footer__logo img {
  max-width: 118px;
}

.footer__left-menu {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .footer__left-menu {
    flex-direction: column;
    width: auto;
  }
}

.footer__left-menu-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1100px) {
  .footer__left-menu-img {
    padding-bottom: 20px;
  }
}

.footer__left-menu-nav {
  list-style-type: none;
}
@media (max-width: 720px) {
  .footer__left-menu-nav {
    padding-bottom: 30px;
  }
}

.footer__left-menu-nav {
  display: flex;
}

.footer__left-menu-nav-li {
  padding-right: 20px;
}

.footer__left-menu-nav li {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -4%;
}

footer__left-menu-nav-li .footer__right-menu {
  padding-right: 50px;
}

.footer__contacts {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -4%;
}
@media (max-width: 720px) {
  .footer__contacts {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -4%;
  }
}/*# sourceMappingURL=app.css.map */