
.cards {
   background-color: rgb(255, 255, 254);
   
  }
  .text_cards {
   font-family: var(--font-family);
   display: flex;
   justify-content: center;
   text-align: center;
  }
  
  
  .round {
    display: flex;
   width: 60px; 
  height: 60px; 
  background-color: #FC8A11; 
  border-radius: 50%; 
  border: none; 
  justify-content:center;
   align-items:center;
  }
  