.text_cards {
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  text-align: center;
 }

.wrapper {
  font-family: var(--font-family);
  display: grid;
 }
.cards {
   background-color: #EAF7E5;
   width: 389px;
   height: 465px;
   border-radius: 20px;
   padding: 30px;
   
  }
   
  .card-title {
    margin-top: 20px;
    font-family: var(--font-family);
    font-size: 32px;
  }

  .cards_img {
    height: 261px;
    width: 321px;
  }

  .cards_sub {
    font-size: 18px;
    font-weight: 300;
  }

  .cards_sub2 {
    font-size: 18px;
    font-weight: 300;
  }

  .round {
   width: 100px; 
   height: 100px; 
   background-color:  rgba(252, 138, 17, 1); 
   border-radius: 50%; 
   text-align: center;
   margin: auto;
   display: flex;
   outline: none;
   justify-content:center;
  }
  