header {
    padding: 0 33px;
    display: flex;
    justify-content: space-between;
    @include DM-sans(normal, 400, 14px, 18px);
    .header__menu {
        width: 241px;
        .menu-list {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
        }
    }
    .logo-block {
        display: flex;
        align-items: center;
        @include DM-sans(normal, 700, 14px, 18px);
        .logo-block__logo {
            margin-right: 8px;
        }
    }
    .header__basket {
        display: flex;
        align-items: center;
        .img {
            width: 100%;
        }
    }
}




